


# wagtail admin static files
static/admin
static/wagtail*
static/staticfiles.json

# unimportant node dirs
node_modules
assets

# third party reference code
wagtail-reading-time

# unimportant node files
.dockerignore
.jshintrc
db.sqlite3
package-lock.json
package.json
webpack.config.js

# pycache
# ui_test/__pycache__