@font-face {
  font-family: 'Glyphicons Regular';
  /* src:  url('/static/fonts/glyphicons-regular.woff2') format('woff2'),
        url('/static/fonts/glyphicons-regular.woff') format('woff'),
        url('/static/fonts/glyphicons-regular.ttf') format('truetype') */
  src:  url('../fonts/glyphicons-regular.woff2') format('woff2'),
        url('../fonts/glyphicons-regular.woff') format('woff'),
        url('../fonts/glyphicons-regular.ttf') format('truetype')
  }

.glyphicon {
  position: relative;
  top: 2px;
  display: inline-block;
  /*noinspection CssNoGenericFontName*/
  font-family: 'Glyphicons Regular';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-remove:before {
  content: "\e208";
}

.glyphicon-ok:before {
  content: "\E199";
}
.glyphicon-circle-ok:before {
  content: "\E194";
}
.glyphicon-user:before {
  content: "\E004";
}
.glyphicon-eye-open:before {
  content: "\E052";
}
.glyphicon-time:before {
  content: "\E055";
}
.glyphicon-play:before {
  content: "\E174";
}
.glyphicon-reverse-play:before {
  content: "\E174";
}
.glyphicon-reverse-play {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}
.glyphicon-info:before {
  content: "\E196";
}
.glyphicon-microphone:before {
  content: "\E301";
}
.glyphicon-file:before {
  content: "\E037";
}
.glyphicon-edit:before {
  content: "\E151";
}
.glyphicon-show-lines:before {
  content: "\E159";
}
.glyphicon-chevron-left:before {
  content: "\E225";
}
.glyphicon-restart:before {
  content: "\E366";
}
.glyphicon-gender-female:before {
  content: "\E248";
}
.glyphicon-gender-male:before {
  content: "\E247";
}
.glyphicon-tag:before {
  content: "\E066";
}
.glyphicon-cogwheel:before {
  content: "\E137";
}
.glyphicon-tags:before {
  content: "\E067";
}
.glyphicon-warning-sign:before {
  content: "\E079";
}
.glyphicon-share:before {
  content: "\E309";
}
.glyphicon-link:before {
  content: "\E051";
}
.glyphicon-arrow-right:before {
  content: "\E212";
}
.glyphicon-globe:before {
  content: "\E371";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-weights:before {
  content: "\E544";
}
.glyphicon-telephone:before {
  content: "\E442";
}
.glyphicon-money:before {
  content: "\E459";
}
.glyphicon-calendar:before {
  content: "\E046";
}
.glyphicon-piechart:before {
  content: "\E043";
}
.glyphicon-user:before {
  content: "\E004";
}
.glyphicon-alert:before {
  content: "\E079";
}
.glyphicon-flag:before {
  content: "\E267";
}
.glyphicon-marker:before {
  content: "\E243";
}
.glyphicon-road:before {
  content: "\E027";
}
.glyphicon-home:before {
  content: "\E021";
}
.glyphicon-upload:before {
  content: "\E416";
}
.glyphicon-calculator:before {
  content: "\E324";
}
.glyphicon-world:before {
  content: "\E372";
}
.glyphicon-spin {
   -webkit-animation: spin 2000ms infinite linear;
   animation: spin 2000ms infinite linear;
   color: #ffb400;
}
.glyphicon-spin-white {
   -webkit-animation: spin 2000ms infinite linear;
   animation: spin 2000ms infinite linear;
   color: white;
}


span.glyphicon {
  margin-right: 12px;
}

.App {
    font-family: sans-serif;
    text-align: center;
  }

div.ann-text {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 120%;
  color: #2e2e2e;
  /* background-color: white; */
  /* border: 1px solid #ff7c24; */
  /* border-radius: 5px; */
  word-wrap: break-word;
  width: 300px;
  padding: 6px;
  margin-bottom: 0.5em;
  /* cursor: pointer; */
}

div.ann-detail {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #2e2e2e;
  word-wrap: break-word;
  width: 400px;
  padding: 6px;
  padding-top: 0px;
  margin-bottom: 0.5em;
}

.Annotation-grammar-suggestion-top {
  background-color: #fdebdf;
  transform: translate(-25%, 2%);

}

.Annotation-spelling-top{
  /* border-width: 5px;
  border-style: solid;
  border-color: #e29460; */
  /* background-color: rgb(90, 86, 86); */
  color: black;
  background-color: #ffe9e9;
  transform: translate(-25%, 2%);
}





ann {
  /* background: #ff7c24; */
  /* border: solid; */
  /* border-width: thin;
  border-radius: 5px;; */
  /* box-shadow: 1px 1px 1px grey; */
  text-decoration: underline #ffb27f;
  /* text-decoration: underline #e97528; */
  text-decoration-thickness: 20%;
}

ann:hover {
  color: black;
  background-color: #FFB07B;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
}

/* ann:focus{
  background-color:red;
} */

ann:hover:active{
  background-color:#e29460;
  text-decoration: none;
}

ann.spelling {
  /* background: #ff7c24; */
  /* border: solid; */
  /* border-width: thin;
  border-radius: 5px;; */
  /* box-shadow: 1px 1px 1px grey; */
  text-decoration: underline #ff2727;
  /* text-decoration: underline #e97528; */
  text-decoration-thickness: 20%;
}

ann.spelling:hover {
  /* color: white; */
  background-color: #ff5959;
  border-radius: 3px;
  text-decoration: none;
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
  cursor: pointer;
}

ann.spelling:hover:active{
  background-color:#ff5959;
  text-decoration: none;
}

/* div.ann-spelling- */

button.Annotation__button_yes{
  background-color:limegreen;
  border: None;
  color:honeydew;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 4px;
  /* font-weight: bold; */
}
button.Annotation__button_no{
  background-color: rgb(219, 43, 43);
  border: None;
  color: honeydew;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 4px;
  /* font-weight: bold; */
}

button.Annotation__button_no:active{
  background-color: firebrick;
}

button.Annotation__button_yes:active{
  background-color: rgb(34, 146, 34);
}

.Feedback-left{
  /* border-width: 5px;
  border-style: solid;
  border-color: #e29460; */
  /* background-color: rgb(90, 86, 86); */
  color: black;
  background-color: #e9e9e9;
  transform: translate(0%, -50%);
}


div.feedback-title {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #2e2e2e;
  word-wrap: break-word;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 6px;
  padding-top: 0px;
  margin-bottom: 0.5em;
  font-weight: bold;
}


button.feedback-button {
  background-color: rgb(252, 252, 252);
  border: None;
  /* color: honeydew; */
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  border-radius: 4px;
  /* font-weight: bold; */
}

button.feedback-button:active {
  background-color: rgb(196, 196, 196);
}